extends layout 

block content 
  h1= title

  p #[strong Name:] !{gameConsole.name}
  p #[strong Description:] !{gameConsole.description}
  p #[strong In-Stock:] !{gameConsole.instock}
  p #[strong Price:] $!{gameConsole.price}

  hr

  h4 Are you sure you want to delete this game console?
  
  form(method='POST' action='')
    div.form-group
      input#gameConsoleid.form-control(type='hidden' name='gameConsoleid' required='true' value=gameConsole.id)
    button.btn.btn-primary(type='submit') Delete