extends layout 

block content 
  h1= title 

  p #[strong Name:] !{game.name}
  p #[strong Description:] !{game.description}
  p #[strong Price:] !{game.price}
  p #[strong In-Stock:] !{game.instock}

  hr

  h4 Are you sure you want to delete this game?

  form(method='POST' action='')
    div.form-group
      input#gameid.form-control(type='hidden' name='gameid' required='true' value=game.id)
    button.btn.btn-primary(type='submit') Delete