extends layout 

block content 
  h1= title 

  p #[strong Name:] !{gameConsole.name}
  p #[strong Description:] !{gameConsole.description}
  p #[strong Price:] $!{gameConsole.price}
  p #[strong In-Stock:] !{gameConsole.instock}

  hr

  p
    a(href=gameConsole.url+'/delete') Delete Game Console
  p 
    a(href=gameConsole.url+'/update') Update Game Console