extends layout 

block content 
  h1= title 

  p #[strong Name:] !{gameConsole_info.name}
  p #[strong Description:] !{gameConsole_info.description}
  p #[strong Price:] $!{gameConsole_info.price}
  p #[strong In-Stock:] !{gameConsole_info.instock}

  hr

  p
    a(href=gameConsole_info.url+'/delete') Delete Game Console
  p 
    a(href=gameConsole_info.url+'/update') Update Game Console